html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
  }
  
  #app {
    min-height: 100vh;
  }

  .divCenterScreen{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .fix-links-headers{
    padding: 15px;
    display: inline-block;
    line-height: 20px;
  }