html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
  }
  
  #app {
    min-height: 100vh;
  }

  .container{
    display: flexbox;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .supidc {  
    vertical-align:super;  
    font-size:9pt;
  }